body {
background-color: white;
color: black;
}

h1 {
color: white;
font-size: 40px;
font-family: 'Permanent Marker', cursive;
margin-left: ;
}

p {
font-family: 'Permanent Marker', cursive;
color: black;
}

/* Opacity #1 */
img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	opacity: .5;
}
